.login_wrapper{
	margin: 15% auto;
	height: auto;
	width: 500px;
	border: solid 1px #ccc;
	padding: 40px 40px;
}
.footer{
	border-top: solid 1px #ccc;
	padding: 15px 10px;
}
.footer_link li{
	list-style-type: none;
	float: left;
	margin-right: 20px;
}